#content {
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: #77DD77;
}

#form-box {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
}